body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.btn {
    cursor: pointer;
    font-size: 16px;
    line-height: 48px;
    height: 48px;
    font-weight: 500;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    border-radius: 3px;
    transition: all .3s linear;
}