@import "globalcss";
// Header Start
.side-container {
    width: 1089px;
    max-width: 100%;
    margin-left: 260px;
}

.container {
    width: 940px;
    max-width: 100%;
    margin: 0 auto;
}

// Header Start
.header {
    width: 260px;
    max-width: 100%;
    height: 100%;
    position: fixed;
    background-color: #ffffff;
    border-top: 4px solid #96cf29;
    padding: 10px 30px;
    .header-logo {
        display: block;
        margin-top: 90px;
        margin-bottom: 45px;
        text-align: center;
        .logo {
            margin: 0 auto;
        }
    }
    .header-link-lists {
        text-align: center;
        .header-link-item {
            .header-link {
                text-transform: capitalize;
                color: #000000;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 60px;
                position: relative;
                transition: all .3s linear;
                border-bottom: 2px solid transparent;
                .active {
                    border-bottom: 2px solid #96cf29;
                    width: 66px;
                    position: absolute;
                    bottom: -50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            &:hover .header-link {
                border-color: #96cf29;
            }
        }
    }
}

// Header End
// Hero-Banner Start
.hero-banner {
    width: 100%;
    background-image: url('../images/slider-image-1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 186px 0px 0px 0px;
    z-index: 20;
    height: 100%;
    .hero-title {
        text-transform: capitalize;
        font-family: 'Rubik', sans-serif;
        font-size: 75px;
        line-height: 84px;
        font-weight: 700;
        color: #aeff17;
        margin: 0px 400px 0px 156px;
    }
    .hero-title-info {
        font-size: 30px;
        line-height: 22px;
        font-weight: 300;
        color: #ffffff;
        font-style: italic;
        margin: 28px 0px 34px 156px;
    }
    .btn-primary {
        background-color: #007eff;
        margin: 0px 0px 150px 156px;
        font-size: 16px;
        line-height: 48px;
        height: 48px;
        font-weight: 600;
        color: #ffffff;
        border: 1px solid #007eff;
    }
    .btn-primary:hover {
        background-color: transparent;
        color: #007eff;
    }
}

// Hero-Banner End
// Counter-Panel Start
.counter-panel {
    grid-template-columns: repeat(4, 1fr);
    padding: 40px 0px;
    column-gap: 26px;
    border-bottom: 2px solid #edf1f2;
    .counter-panel-item {
        text-align: center;
        background-color: #ffffff;
        padding: 0px 15px;
        .counter-panel-img {
            margin: 0 auto;
        }
        .counter-digit {
            font-family: 'Rubik', sans-serif;
            color: #262626;
            font-size: 40px;
            font-weight: 500;
            margin-top: 20px;
            margin-bottom: 12px;
        }
        .counter-title {
            font-size: 15px;
            font-weight: 400;
            font-style: normal;
            text-transform: capitalize;
            color: #666666;
            margin-bottom: 20px;
        }
    }
}

// Counter-Panel End
// Service-Supply-Banner Start
.service-supply-banner {
    padding: 40px 80px;
    column-gap: 60px;
    .service-supply {
        .service-supply-title {
            color: #262626;
            font-family: 'Rubik', sans-serif;
            font-size: 60px;
            line-height: 65px;
            font-style: normal;
            font-weight: 700;
        }
        .service-title-info {
            margin-top: 10px;
            margin-bottom: 28px;
            color: #666;
            font-size: 25px;
            font-style: italic;
            font-weight: 400;
            letter-spacing: 0px;
        }
        .btn-primary {
            background-color: #007eff;
            color: #ffffff;
            font-size: 15px;
            line-height: 38px;
            height: 38px;
            font-style: normal;
            font-weight: 600;
            padding-right: 0px 42px;
            border: 1px solid #007eff;
        }
        .btn-primary:hover {
            background-color: transparent;
            color: #007eff;
        }
    }
    .energy-info {
        .energy-title {
            color: #262626;
            font-family: 'Rubik', sans-serif;
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            margin-bottom: 20px;
        }
        .energy-title-info {
            color: #666;
            font-size: 15px;
            line-height: 25px;
            font-style: normal;
            font-weight: 400;
            margin-bottom: 80px;
        }
        .progress-bar-lists {
            .progress-bar-item {
                margin-bottom: 28px;
                .progress-info {
                    justify-content: space-between;
                    margin-bottom: 8px;
                    .progress-title {
                        text-transform: capitalize;
                        color: #060a0d;
                        font-weight: 500;
                        font-family: 'Rubik', sans-serif;
                        font-style: normal;
                        font-size: 18px;
                    }
                    .progress-percentage {
                        color: #060a0d;
                        font-size: 18px;
                        font-weight: 500;
                        font-family: 'Rubik', sans-serif;
                        font-style: normal;
                    }
                }
                .progress {
                    display: block;
                    width: 100%;
                    border: none;
                    height: 5px;
                    background: #f1f4f8;
                    .progress-ratio-63 {
                        width: 63%;
                        background-color: #e4c051;
                        height: 5px;
                    }
                    .progress-ratio-92 {
                        width: 92%;
                        background-color: #96cf29;
                        height: 5px;
                    }
                    .progress-ratio-45 {
                        width: 45%;
                        background-color: #0881ef;
                        height: 5px;
                    }
                }
            }
        }
    }
}

// Service-Supply-Banner End
// Integration Step Start
.integration-steps {
    background-color: #f5f8fa;
    padding: 100px 0px;
    .integration-system {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        .integration-item {
            .integration-title {
                color: #262626;
                font-family: 'Rubik', sans-serif;
                font-size: 25px;
                font-style: normal;
                font-weight: 500;
                margin-top: 24px;
                margin-bottom: 12px;
            }
            .integration-title-info {
                color: #666;
                font-size: 15px;
                line-height: 25px;
                font-style: normal;
                font-weight: 400;
            }
        }
    }
    .integration-steps-lists {
        margin-top: 50px;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        .integration-steps-item {
            background-color: #ffffff;
            padding: 30px;
            align-items: flex-start;
            column-gap: 20px;
            .steps-title {
                color: #262626;
                text-transform: capitalize;
                font-family: 'Rubik', sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                margin-bottom: 5px;
            }
            .step-info {
                color: #666;
                font-size: 15px;
                line-height: 25px;
                font-style: normal;
                font-weight: 400;
            }
        }
    }
}

// Integration Step End
// Future Banner Start
.future-banner {
    background-image: url('../images/row-background-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 186px 0px 192px 118px;
    .future-title {
        color: #aeff17;
        font-size: 75px;
        line-height: 90px;
        font-family: 'Rubik', sans-serif;
        font-style: normal;
        font-weight: 700;
        text-transform: capitalize;
        margin-right: 400px;
    }
    .future-title-info {
        font-size: 30px;
        line-height: 22px;
        font-weight: 300;
        color: #ffffff;
        font-style: italic;
        margin-top: 12px;
    }
}

.features-lists {
    margin-top: -180px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    padding-bottom: 50px;
    .features-item {
        padding: 20px 8px 20px 20px;
        background-color: #FFFFFF;
        .features-title {
            margin-top: 24px;
            color: #262626;
            font-family: 'Rubik', sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
        }
        .features-info {
            color: #666;
            font-size: 15px;
            line-height: 25px;
            font-style: normal;
            font-weight: 400;
        }
    }
}

// Future Banner End
// Project-Banner Start
.project-banner {
    background-color: #f5f8fa;
    padding: 100px 0px;
    .project-lists {
        padding: 40px 0px 0px 0px;
    }
    .project-lists {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        .project-item {
            .project-title {
                margin-top: 24px;
                margin-bottom: 12px;
                color: #262626;
                font-family: 'Rubik', sans-serif;
                font-size: 25px;
                font-style: normal;
                font-weight: 500;
            }
            .project-title-info {
                color: #666;
                font-size: 15px;
                line-height: 25px;
                font-weight: 400;
            }
        }
    }
}

// Project-Banner End
// High-level-service-banner Start
.high-level-service-banner {
    column-gap: 50px;
    padding: 100px 0px;
    .high-level-service {
        .high-level-service-title {
            color: #262626;
            font-family: 'Rubik', sans-serif;
            font-size: 60px;
            line-height: 65px;
            font-style: normal;
            font-weight: 700;
        }
        .high-level-title-info {
            color: #666;
            font-size: 25px;
            font-style: italic;
            font-weight: 400;
            margin-top: 10px;
            margin-bottom: 28px;
        }
        .btn-primary {
            border: 1px solid #007eff;
            color: #ffffff;
            background-color: #007eff;
        }
        .btn-primary:hover {
            background-color: transparent;
            color: #007eff;
        }
    }
    .service-type-lists {
        grid-template-columns: repeat(2, 3fr);
        column-gap: 30px;
        row-gap: 50px;
        .service-type-item {
            align-items: flex-start;
            column-gap: 20px;
            padding: 0px 0px 18px 0px;
            .service-details {
                .service-type-title {
                    color: #262626;
                    font-family: 'Rubik', sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    width: 290px;
                }
                .service-title-info {
                    color: #666666;
                    font-size: 15px;
                    line-height: 25px;
                    font-style: normal;
                    font-weight: 400;
                    width: 220px;
                }
            }
        }
    }
}

// High-level-service-banner End
// Small-Banner Start
.small-parallax {
    background-color: #0885f6;
    padding: 80px 0px;
    .small-news-parallax {
        justify-content: space-between;
        align-items: center;
        .newsletter-title {
            font-family: 'Rubik', sans-serif;
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            color: #ffffff;
        }
        .form {
            position: relative;
            .input-field {
                outline: none;
                border: none;
                padding: 18px 182px 15px 15px;
                width: 460px;
                background-color: #027be9;
                color: #ffffff;
                font-size: 15px;
                line-height: 16px;
                font-style: normal;
                font-weight: 400;
                letter-spacing: 0px;
                border-radius: 3px;
            }
            .submit {
                cursor: pointer;
                position: absolute;
                outline: none;
                border: none;
                top: 4px;
                right: 4px;
                font-family: 'Rubik', sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                height: 40px;
                line-height: 40px;
                padding: 0px 46px;
                background-color: #2397ff;
                color: #FFFFFF;
                text-transform: capitalize;
                border: 1px solid #2397ff;
                transition: all .3s linear;
            }
            .submit:hover {
                background-color: transparent;
            }
             ::placeholder {
                color: #ffffff;
            }
        }
    }
}

// Small-Banner End
// Footer Start
.footer {
    background-color: #262626;
    padding: 90px 0px;
    .column-lists {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
        .column {
            .logo-text {
                margin-top: 20px;
                margin-bottom: 36px;
                color: #666;
                font-size: 15px;
                line-height: 25px;
                font-style: normal;
                font-weight: 400;
            }
            .copy-right-info {
                font-size: 12px;
                color: #ffffff;
                .copy-right-link {
                    color: #ffffff;
                    transition: all .3s linear;
                }
                .copy-right-link:hover {
                    color: #0885f6;
                }
            }
            .col-title {
                color: #ffffff;
                font-size: 20px;
                letter-spacing: 0px;
                line-height: 35px;
                font-weight: 400;
                margin-bottom: 22px;
            }
            .address {
                line-height: 35px;
                color: #ffffff;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
            }
            .telephone {
                color: #ffffff;
                margin-bottom: 10px;
            }
            .telephone a {
                color: #ffffff;
                font-size: 15px;
            }
            .email-address {
                color: #ffffff;
            }
            .email-address a {
                color: #ffffff;
                font-size: 15px;
            }
            .col-link-lists {
                .col-link-item {
                    margin-bottom: 18px;
                    .col-link {
                        display: inline;
                        text-transform: capitalize;
                        color: #ffffff;
                        transition: all .3s linear;
                        line-height: 22px;
                        font-size: 15px;
                        font-weight: 400;
                        font-family: 'Rubik', sans-serif;
                        transition: all .3s linear;
                    }
                    .col-link:hover {
                        color: #007eff;
                    }
                }
            }
        }
    }
    .back-to-top {
        cursor: pointer;
        position: fixed;
        right: 20px;
        bottom: 20px;
        border: 2px solid #e8e8e8;
        border-radius: 50px;
        padding: 10px;
        width: 56px;
        height: 56px;
        text-align: center;
        transition: all .3s linear;
        .up-arrow {
            font-size: 22px;
            color: #b0b0b0;
            line-height: 28px;
        }
    }
    .back-to-top:hover {
        background-color: #e8e8e8;
    }
}

// Footer End
@media screen and (min-width:1440px) {
    .header {
        width: 278px;
    }
    .side-container {
        width: 1162px;
        margin-left: 278px;
    }
}